.input {
  background-color: transparent;
  border: none;
  text-align: center;
  border-bottom: 2px solid var(--primary);
  padding: 1rem;
  font-size: 1.8rem;
  transition: all 0.1s ease-in-out;
  color: var(--text-default);
}

.input:disabled {
  border-bottom: 2px solid var(--disabled);
  color: var(--text-disabled);
}

.input:focus {
  outline: none;
  border-bottom: 2px solid var(--primary-light);
}

.input::placeholder {
  font-size: 1.6rem;
  font-style: italic;
  color: var(--gray-500);
}
